<div class="container">
  <div class="navbar">
    <ul class="nav navbar-nav navbar-left">
      <li>
        <a routerLink="/blog/add">+ Ajouter</a>
      </li>
    </ul>
  </div>
</div>

<div id="grey" *ngFor="let article of articles">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          <img src="assets/img/user.png" width="50px" height="50px">
          <b>{{ article.author }}</b>
        </p>
        <p>
          <b>January 18, 2014</b>
        </p>
        <h4>{{ article.title }}</h4>
        <p>{{ article.content }}</p>
        <p>
          <a href="blog01.html">Continue Reading...</a>
        </p>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /grey -->
