
<div class="container pt">
<div class="row mt">
<div class="col-lg-6 col-lg-offset-3 centered">
  <h3>Nouvel Article</h3>
  <hr>
</div>
</div>
<div class="row mt">
<div class="col-lg-8 col-lg-offset-2">
  <form role="form">
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" name="title" class="form-control" id="title" />
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" name="author" class="form-control" id="author">
    </div>
    <div class="form-group">
      <label for="author">Contenu</label>
      <textarea class="form-control" rows="6"></textarea>
    </div>
    <br/>
    <button type="submit" class="btn btn-success">Sauvegarder</button>
  </form>
</div>
</div>
<!-- /row -->
</div>
<!-- /container -->
